{% extends "html/index.html" %}


{% block body %}
<h1>O nas</h1>
<section class="cards">
    <div>
        <img src="static/images/IMG_7778 3.png">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, a dicta! Ipsa inventore nesciunt nemo eveniet facere distinctio numquam excepturi quaerat? Iure repudiandae neque sequi sit dolorum porro amet aliquam!</p>
    </div>
    <div>
        <img src="static/images/dawid-zapolski-180x180.png">
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, possimus obcaecati? Et quidem minima dolor iure explicabo eaque ab, impedit, obcaecati accusantium assumenda error. Porro exercitationem vero libero nihil dignissimos.</p></div>
    <div>
        <img src="static/images/IMG_8182.png">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quod a voluptatum nobis eius reiciendis laudantium quasi deleniti aliquam facere tempore optio deserunt ipsa, natus, saepe totam sed error dolorem.</p></div>
</section>
{% endblock %}