{% extends "html/index.html" %}
{% block title %}Rejestracja  rozmowy{% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="holly_center_pls_press_f_for_coder">
    <h2 class="h2_form">Witaj organizatorze!</h2>
    <a class="btn" href="{{ url_for('add_volonteer') }}">Dodaj wolontariuszy do wydarzenia</a><br>
    <a class="btn" href="{{ url_for('register_talk') }}">Zarejestruj prelekcje</a><br>
    <a class="btn" href="{{ url_for('add_speaker') }}">Dodaj prelegenta do prelekcji</a>
    <br><a class="btn" href="{{ url_for('get_statistics') }}">Statystyki wydarzeń i społeczności</a>

    <br>
    <div class="form_regist">
    <h1>Wygeneruj identyfikatory</h1>
    <form action="/admin_panel" method="post">
        <label for="edit_id">Edycja:</label>
      <select name="edit_id" id="edit_id">
        {% for edition in editions %}
          <option value="{{ edition[0] }}">Wydarzenie: {{ edition[1] }}, edycja {{ edition[2] }}</option>
        {% endfor %}
      </select>
        <br>
        <label for="badge_type">Wybierz rodzaj identyfikatora:</label>
        <select id="badge_type" name="badge_type">
            <option value="attendees">Czlonkowie</option>
            <option value="volunteers">Wolontariusze</option>
            <option value="organisers">Organizatorzy</option>
            <option value="speakers">Speakerzy</option>
        </select>
        <br>
        <input class="btn" type="submit" value="Wygeneruj identyfikatory">
    </form>
    </div>
  </div>
  <a class="btn" href="{{ url_for('dashboard') }}">Powrót</a>
  {% endblock %}
