{% extends "html/index.html" %}
{% block title %}Rejestracja  rozmowy{% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="holly_center_pls_press_f_for_coder">
    <h2>Witaj organizatorze!</h2>
    <a class="btn" href="{{ url_for('register_talk') }}">Register Talk</a><br>
    <a class="btn" href="{{ url_for('add_speaker') }}">Add Speaker to Talk</a>
    <h1>Generate Badgess</h1>
    <form action="/admin_panel" method="post">
        <label for="edit_id">Id edycji:</label>
        <input type="text" id="edit_id" name="edit_id" required>
        <br>
        <label for="badge_type">Select badge type:</label>
        <select id="badge_type" name="badge_type">
            <option value="attendees">Attendees</option>
            <option value="volunteers">Volunteers</option>
            <option value="organisers">Organisers</option>
            <option value="speakers">Speakers</option>
        </select>
        <br>
        <input type="submit" value="Generate Badges">
    </form>
  </div>
  <a class="btn" href="{{ url_for('home') }}">Powrót</a>
  {% endblock %}