{% extends "html/index.html" %}
{% block title %}Posty społeczności{% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Communities</h1>
    
    {% if communities %}
      <ul>
        {% for community in communities %}
          <li>
            <form action="/feed" method="get">
              <input type="hidden" name="community_id" value="{{ community[0] }}">
              <button type="submit">{{ community[1] }}</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No communities available for this user.</p>
    {% endif %}
  </div>
  <a class="btn" href="{{ url_for('home') }}">Powrót</a>
  {% endblock %}