{% extends "html/index.html" %}
{% block title %}Posty społeczności{% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
  <body>
    <h1> {{ edition_details[0] }} Edycja: {{ edition_details[1] }}</h1>
    <p>Data rozpoczęcia: {{ edition_details[2] }}</p>
    <p>Data zakończenia: {{ edition_details[3] }}</p>

    <form action="{{ url_for('events') }}" method="get">
      <button class="btn"type="submit">Wróć do wyboru edycji</button>
    </form>
    
    <h2>Harmonogram prelekcji</h2>
    {% for date, events in timetable.items() %}
      <h3>{{ date }}</h3>
      {% if events %}
        <ul>
          {% for event in events %}
            <li>{{ event[1] }} Temat: {{ event[2] }}, prowadzący {{ event[4] }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Brak zaplanowanych prelekcji.</p>
      {% endif %}
    {% endfor %}
  </div>
  <a class="btn" href="{{ url_for('home') }}">Powrót</a>
  {% endblock %}