{% extends "html/index.html" %}
{% block title %}Posty społeczności{% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="holly_center_pls_press_f_for_coder">
    <h2 class="h2_form">Edition {{ edition_details[0] }}: {{ edition_details[1] }}</h1>
   <div> 
    <p>Start Date: {{ edition_details[2] }}</p>
    <p>End Date: {{ edition_details[3] }}</p></div>
    
    <form action="{{ url_for('events') }}" method="get">
      <button type="submit">Back to Editions</button>
    </form>
    <div class="event-time">
    <h2>Timetable</h2>
    {% for date, events in timetable.items() %}
      <h3>{{ date }}</h3>
      {% if events %}
        <ul>
          {% for event in events %}
            <li>{{ event[1] }} by {{ event[2] }} at {{ event[3] }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No events scheduled.</p>
      {% endif %}
    {% endfor %}
  </div>
  </div>
  <a class="btn" href="{{ url_for('home') }}">Powrót</a>
  {% endblock %}