{% extends "html/index.html" %}
{% block title %}Posty społeczności{% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="holly_center_pls_press_f_for_coder">
    <h1>Posts for Community ID: {{ community_id }}</h1>

    <form action="{{ url_for('add_post') }}" method="post">
      <input type="hidden" name="community_id" value="{{ community_id }}">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
      </div>
      <div>
        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea>
      </div>
      <button type="submit">Add Post</button>
    </form>
    
    <form action="/" method="get">
      <button type="submit">Back to Communities</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    {% if posts %}
      <ul>
        {% for post in posts %}
          <li>
            <h2>{{ post[5] }}</h2>
            <p>{{ post[6] }}</p>
            <p><small>Posted by member ID {{ post[3] }} on {{ post[4] }}</small></p>
            <form action="{{ url_for('feed') }}" method="get">
              <input type="hidden" name="community_id" value="{{ community_id }}">
              <input type="hidden" name="post_id" value="{{ post[0] }}">
              <button type="submit">View Post</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No posts available for this community.</p>
    {% endif %}
    </div>
  </div>
  <a class="btn" href="{{ url_for('home') }}">Powrót</a>
  {% endblock %}
