{% extends "html/index.html" %}
{% block title %}Posty społeczności{% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Posts for Community ID: {{ community_id }}</h1>
    
    {% if posts %}
      <ul>
        {% for post in posts %}
          <li>
            <h2>{{ post[5] }}</h2>
            <p>{{ post[6] }}</p>
            <p><small>Posted by member ID {{ post[3] }} on {{ post[4] }}</small></p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No posts available for this community.</p>
    {% endif %}
    
    <form action="/feed" method="GET">
      <button type="submit">Back to Feed</button>
    </form>
  </div>
  <a class="btn" href="{{ url_for('home') }}">Powrót</a>
  {% endblock %}