<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Strona główna{% endblock %} - PassionTown</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/static/styles/{% block style %}styles.css{% endblock %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="static/styles/nav_style.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logoo">
            <img id="logo" src="static/images/logo.png">
            <h3 id="name_website">PassionTown</h3></div>
        <nav class="nav">
            <ul class="nav-links">
                <a href="{{ url_for('home') }}">
                    <li>Strona główna</li>
                </a>
                <a href="{{ url_for('aboutus') }}">
                    <li>O nas</li>
                </a>
                <a href="{{url_for('login')}}">
                    <li><button class="btn" href="{{url_for('login')}}">Zaloguj</button></li>
                </a>
            </ul>
            <button class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
            </button>
        </nav>
        <div id="container__buttons">

            <input type="button" name="bigger" value="A++" onclick="zmienCzcionke(1)">
            <input type="button" name="lower" value="A--" onclick="zmienCzcionke(-1)">
            <input type="button" name="contrast" value="🌓" onclick="wysokiKontrast()">
            <input type="button" name="contrast" value="🌑" onclick="toggleDarkMode()">
        </div>
    </header>
    <main>
        {% block body %}
        <section class="sect_main">
            <div class="text_main">
            <h1>Zaloguj się po pasje!</h1>
            <p>Środowisko dla pasjonatów każdej dziedziny od matematyków po rekodzieło...</p>
        </div>
        <img id="phot" src="static/images/phot.png">
        </section>
        <section class="sect_lower">
           <p><b>Dołącz do PassionTown – Twojego Nowego Miejsca dla Pasjonatów!</b><br>
            Cześć! Czy masz hobby, które pochłania Twoje myśli i serce? A może szukasz inspiracji, by odkryć nowe zainteresowania? Niezależnie od tego, czym się pasjonujesz, mamy dla Ciebie idealne miejsce!
            
            PassionTown to dynamiczne forum stworzone z myślą o ludziach takich jak Ty – pełnych entuzjazmu i pasji. Nasza społeczność składa się z ludzi, którzy kochają dzielić się swoimi zainteresowaniami, uczyć się od innych i nawiązywać nowe znajomości. Dołącz do nas i stań się częścią czegoś wyjątkowego!</p>
            
        </section>
      
        <ul class="button_ul">
        <a href="{{url_for('register')}}">
            <li><button class="btn" href="{{url_for('register')}}">Rejestracja!</button></li>
        </a>
    </ul>
        <section class="inter">
            <h2>Grupy zainteresowań:</h2>
            <ul>
                {% for i in spolecznosci %}
                <li>{{ i[0] }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 PassionTown</p>
    </footer>
</body>
<script>
  let czcionka = 1;

function zmienCzcionke(zmiana) {
    const elements = document.querySelectorAll('*');
  elements.forEach((element) => {
    const fontSize = getComputedStyle(element).fontSize;
    const newSize = parseFloat(fontSize) + zmiana;
    element.style.fontSize = newSize + 'px';
});
}

function przechylCzcionke() {
  document.body.classList.toggle("rotated-font");
}

function wysokiKontrast() {
  document.body.classList.toggle("high-contrast");
}  
function toggleDarkMode() {
  let theme = localStorage.getItem('theme') || 'light';
  if (theme === 'light') {
    document.body.classList.add('dark');
    localStorage.setItem('theme', 'dark');
  } else {
    document.body.classList.remove('dark');
    localStorage.setItem('theme', 'light');
  }
}

</script>
</html>