{% extends "html/index.html" %}

{% block body %}

{% if events|length > 0 %}
<div class="holly_center_pls_press_f_for_coder">
<form class="form_regist" method="POST">
    <div>
        <select class="btn" name="edition_id" id="edition_id">
            {% for i in events %}
                <option value="{{ i[0] }}" > {{ i[1] }} - {{ i[2] }} </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <button class="btn" id="submit" type="submit">Dołącz</button>
    </div>
</form>
{% else %}
<p>Brak wydarzeń,do których możesz dołączyć!</p>
<a class="btn" href="{{ url_for('dashboard') }}">Powrót</a>
<img id="photo" src="static/images/log_phot.png">
</div>
{% endif %}

{% endblock %}