{% extends "html/index.html" %}
{% block title %}Rejestracja  rozmowy{% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="holly_center_pls_press_f_for_coder">
    <h2 class="h2_form">Rejestracja rozmowy</h2>
    <form class="form_regist" method="POST">
 <div>  <label for="speaker_id">Mówca:</label>
      <select name="speaker_id" id="speaker_id">
        {% for speaker in speakers %}
          <option value="{{ speaker[0] }}">{{ speaker[1] }} {{ speaker[2] }}</option>
        {% endfor %}
      </select><br>
    </div> 
    <div>

      <label for="edit">Edycja:</label>
      <select name="edit" id="edit">
        {% for edition in editions %}
          <option value="{{ edition[0] }}">Wydarzenie: {{ edition[1] }}, edycja {{ edition[2] }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="room">Sala:</label>
      <select name="room" id="room">
        {% for room in rooms %}
          <option value="{{ room[0] }}">{{ room[1] }} - {{ room[2] }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="talk_date">Data:</label>
      <input type="datetime-local" id="talk_date" name="talk_date"><br>
    </div>
    <div>
      <label for="talk_length">Długość rozmowy:</label>
      <select name="talk_length" id="talk_length">
        {% for length in lengths %}
          <option value="{{ length[0] }}">{{ length[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="subj">Przedmiot:</label>
      <input type="text" id="subj" name="subj"><br>
    </div>
    <div>
      <label for="descript">Opis:</label>
      <textarea id="descript" name="descript"></textarea><br>
    </div>
    <div>
      <button id="submit" type="submit">Zarejestruj</button>
    </div>
    </form>
  </div>
    <a class="btn" href="{{ url_for('dashboard') }}">Powrót</a>
    {% endblock %}
