{% extends "html/index.html" %}
{% block title %}Rejestracja{% endblock %}
{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="holly_center_pls_press_f_for_coder">
    <h2 class="h2_form">Rejestracja</h2>
    <form class="form_regist" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} {{ form.username }}
        </div>
        <div>
            {{ form.email.label }} {{ form.email }}
        </div>
        <div>
            {{ form.imie.label }} {{ form.imie }}
        </div>
        <div>
            {{ form.nazwisko.label }} {{ form.nazwisko }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            {{ form.confirm_password.label }} {{ form.confirm_password }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock %}