* {
    margin: 0;
    padding: 0;

}
body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
  }
  .logoo{
	display: flex;
	height: 100%;
	align-items: center;
  }
  
  header {
	background-color: #999DA1;
	color: #fff;
	padding: 20px;
	text-align: center;
	display: flex;
	gap: 5%;
	align-items: center;
  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
  }


  #logo{
	width: 30%;
	height: 30%;
  }
  .logoo{
	display: flex;
	height: 100%;
	align-items: center;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fffefe;
  }
  
  .nav-toggle {
    display: none;
  }
  
  /* Media query hamburger */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .nav-toggle {
      display: block;
      cursor: pointer;
    }
    .nav-toggle span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #000;
      margin-bottom: 5px;
    }
    .nav-toggle span:last-child {
      margin-bottom: 0;
    }
    .nav-links.active {
      display: block;
      position: absolute;
      top: 50px;
      right: 6rem;
      background-color: #989EA1;
      padding: 10px;
      border: 1px solid #989EA1;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
  /* przyciski */
  .btn{
        
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(90deg, #011EFF 0%, #c500cc 100%);
    padding: 10px 30px;
    border: 2px solid #011EFF;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
    }
    
    .btn:hover{
    
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background: linear-gradient(90deg, #011EFF 0%, #c500cc 100%);
    
    border: solid 2px #011EFF;
    }
    #container__buttons {
  padding: 10px;
  float: right;
}
#container__buttons input {
  float: right;
  width: 2rem;
  height: 2rem;
  /* background-color: red; */
  border: hidden;
  margin: 5px;
  border-radius: 30%;
}
#container__buttons input:hover {
  width: 50px;
  height: 50px;
  background-color: tomato;
}

.sizebig {
    font-size: larger;
  }
  
  .sizesmall {
    font-size: xx-small;
  }
  
  .highcontrast {
    background-color: #ff0;
    color: #000;
    border-color: #000;
  }
  
  .photo_highcontrast {
    filter: grayscale(100%);
  }
  
  .buttons_highcontrast input {
    filter: grayscale(100%);
    color: white;}
    