* {
  margin: 0;
  padding: 0;

}
body {
background-color: #fff;
font-family: 'Roboto', sans-serif;
}
.logoo{
display: flex;
height: 100%;
align-items: center;
}

header {
 
background-color: #999DA1;
color: #fff;
padding: 20px;
text-align: center;
display: flex;
gap: 5%;
align-items: center;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: space-between;
}


#logo{
width: 30%;
height: 30%;
}
.logoo{
display: flex;
height: 100%;
align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fffefe;
}

.nav-toggle {
  display: none;
}

/* Media query hamburger */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .nav-toggle {
    display: block;
    cursor: pointer;
  }
  .nav-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
  }
  .nav-toggle span:last-child {
    margin-bottom: 0;
  }
  .nav-links.active {
    display: block;
    position: absolute;
    top: 6.5rem;
    right: 4.2rem;

    justify-content: center;
    background-color: #989EA1;
    padding: 10px;
    border: 1px solid #989EA1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
/* przyciski */
.btn{
      
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #011EFF 0%, #c500cc 100%);
  padding: 10px 30px;
  border: 2px solid #011EFF;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition : 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  
  }
  
  .btn:hover{
  
  transition : 1000ms;
  padding: 10px 50px;
  transform : translateY(-0px);
  background: linear-gradient(90deg, #011EFF 0%, #c500cc 100%);
  
  border: solid 2px #011EFF;
  }
  #container__buttons {
padding: 10px;
float: right;
}
#container__buttons input {
float: right;
width: 2rem;
height: 2rem;
/* background-color: red; */
border: hidden;
margin: 5px;
border-radius: 30%;
}
#container__buttons input:hover {
width: 50px;
height: 50px;
background-color: tomato;
}

.sizebig {
  font-size: larger;
}

.sizesmall {
  font-size: xx-small;
}

.highcontrast {
  background-color: #ff0;
  color: #000;
  border-color: #000;
}

.photo_highcontrast {
  filter: grayscale(100%);
}

.buttons_highcontrast input {
  filter: grayscale(100%);
  color: white;}
  
          
          main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
          }
          
        
          p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
          }
          
        
          footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            clear: both;
          }
          
          @media (max-width: 768px) {
            nav ul {
              flex-direction: column;
            }
          
            nav li {
              margin-right: 0;
              margin-bottom: 10px;
            }
          
            section {
              width: 100%;
            }
          }
          #dark-mode-btn {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
          }
          
          #font-size-btn {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            margin-left: 10px;
          }
          
          .dark-mode {
            background-color: #333;
            color: #fff;
          }
          
          .light-mode {
            background-color: #fff;
            color: #333;
          }
          #logo{
            width: 30%;
            height: 30%;
          }
          header{
            background-color: #999DA0;
            display: flex;
          }
          #name_website{
            color: black;
          }
          #phot{
            width: 20%;
            height: 20%;
            box-shadow: 2rem 2rem 0px #070722;
          }
        
        
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
        
        .btn{
        
        font-family: Roboto, sans-serif;
        font-weight: 0;
        font-size: 14px;
        color: #fff;
        background: linear-gradient(90deg, #011EFF 0%, #c500cc 100%);
        padding: 10px 30px;
        border: 2px solid #011EFF;
        box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
        border-radius: 50px;
        transition : 1000ms;
        transform: translateY(0);
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        
        }
        
        .btn:hover{
        
        transition : 1000ms;
        padding: 10px 50px;
        transform : translateY(-0px);
        background: linear-gradient(90deg, #011EFF 0%, #c500cc 100%);
        
        border: solid 2px #011EFF;
        }
        #photo{
            width: 20%;
            height: 20%;
            box-shadow: 1rem 1rem 0px #070722;
            margin: 30px;
        }
        .cards{
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        .cards div img{
          border:  1px solid #011EFF;
          border-radius: 5%;
            width: 10rem;
            height: 10rem;
        }
        .cards div{
          margin: 0.5% ;
            padding: 2% ;
           display: flex;
           flex-direction: column;
           align-items: center;
            border: 1px solid #011EFF;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(10, 21, 236, 0.1);
        }
        .cards div p{
            text-align: center;
        }