* {
	margin: 0;
	padding: 0;
  
  }
  .monoton-regular {
	font-family: "Monoton", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  h3{
	font-family: "Monoton", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  h1 {
	font-size: 05vw;
	margin-bottom: 10vw;
	color: #070722;
  }
  
  p {
	font-size: 2vw;
	line-height: 1.5;
	margin-bottom: 10vw;
	color: #070722;
  }
  

  footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	clear: both;
  }
  
  
  main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
  }

  body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  }
 
  .button_ul{
	list-style: none;
  }
  
  .sect_lower{
	display: flex;
	font-size: x-small;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #011EFF;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: -2vw;
	text-align: center;
	justify-content: center;
  }
  .sect_lower b{
	display: grid;
	justify-self: center;
  }
  .text_main{

	display: block;
	gap: 10vw;
	margin-left: 15%;
	margin-top: 10%;
  }
  .sect_main{
	display: flex;
	text-align: center;

  }
  .inter {
	background-color: #070722;
	color: #fff;
	width: 85vw;
	padding: 20px;
	border: 1px solid #070722;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	text-align: center;
	margin-top: 5vw;
	
  }
 
  .inter ul {
	list-style: none;
	line-height: 1.5;
  }
  
  @media (max-width: 768px) {
	nav ul {
	  flex-direction: column;
	}
  
	nav li {
	  margin-right: 0;
	  margin-bottom: 10px;
	}
  
	section {
	  width: 100%;
	}
  }
  #dark-mode-btn {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
  }
  
  #font-size-btn {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	margin-left: 10px;
  }
  
  .dark-mode {
	background-color: #333;
	color: #fff;
  }
  
  .light-mode {
	background-color: #fff;
	color: #333;
  }

  header{
	background-color: #999DA0;
	display: flex;
  }
  #name_website{
	color: black;
  }
  #phot{
	margin-top: 11vw;
	margin-right: 5%;
	width: 30%;
	height: 30%;
	box-shadow: 1rem 1rem 0px #070722;
	margin-left: 15%;
	
  }


.btn{

font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background: linear-gradient(90deg, #011EFF 0%, #c500cc 100%);
padding: 10px 30px;
border: 2px solid #011EFF;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background: linear-gradient(90deg, #011EFF 0%, #c500cc 100%);

border: solid 2px #011EFF;
}
.form_regist{
	border: solid 2px #011EFF;
	border-radius: 15%;
	padding: 5vw;
	margin-bottom: -2vw;

}
.form_regist #submit{
	font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background: linear-gradient(90deg, #011EFF 0%, #c500cc 100%);
padding: 10px 30px;
border: 2px solid #011EFF;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}
.form_regist #submit:hover{

	transition : 1000ms;
	padding: 10px 50px;
	transform : translateY(-0px);
	background: linear-gradient(90deg, #011EFF 0%, #c500cc 100%);
	
	border: solid 2px #011EFF;
	}

	.h2_form{
		font-family: "Monoton", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 05vw;
	margin-bottom: 2vw;
	word-spacing: 1vw;
	}
	.holly_center_pls_press_f_for_coder{
		display: grid;
		align-items: center;
		justify-items: center;
	}
	.form_regist div{
		margin: 1vw;
		font-size: medium;
		font-family: Roboto, sans-serif;
	}
	#photo{
		width: 30vw;
		height: 30vw;
		box-shadow: 25px 25px 0px #070722;
		margin-top: 3vw;
		margin-bottom: 2vw;
	  }
	  .high-contrast {
		filter: invert(1);
	  }
	  .rotated-font {
		transform: rotate(20deg);
	  }
	  .dark {
		background-color: #333;
		color: #fff;
	  }
	  .event-time{
		margin: 1vw;
		font-size: medium;
		font-family: Roboto, sans-serif;
		border: solid 2px #011EFF;
		border-radius: 15%;
		padding: 5vw;

	  }
	  
		
		.communities { 
			width: 100%;
			background-color: #011EFF;
			margin-bottom: 3vw;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-items: center;
			border: solid 2px #011EFF;
			border-radius: 25px;
			padding: 5vw;
			text-align: center;
			gap: 5vw;	}
		.posts { 
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-items: center;
			border: solid 2px #011EFF;
			border-radius: 25px;
			padding: 5vw;
			background-color: #f01cf7;
			text-align: center;
			gap: 5vw;
	}

		
			